
*{
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
}

body{
    font-family: "IBM Plex Sans KR";
    margin: 0;
    background-color: white;
    color: #091413;

    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

nav{
    padding: 15px;
    background-color: #285A48;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}
nav a:hover{
    text-decoration: underline;
}

main{
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    
}

h2, h3 {
    color: #408A71;
    
}

p{
    line-height: 1.7;
}

footer {
    padding: 20px;
    background-color: #333333;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
}